<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="DuplexEndpoint" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62566/Service.svc" binding="wsDualHttpBinding"
                bindingConfiguration="DuplexEndpoint" contract="ServiceReference.IDuplexService"
                name="DuplexEndpoint">
                <identity>
                    <userPrincipalName value="Viktar_Varanko@minsk.epam.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>